<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/mycss.css" th:href="@{mycss.css}">
    <title th:text="${name}"></title>
</head>
<body>

    <h1>Halo salam kenal, senang berkenalan dengan anda.</h1>
    <h1>----------- Curriculum Vitae -----------</h1>

    <h3>Name: </h3><p>Yusuf Tri Ardho</p>
    <h3>Birthdate: </h3><p>7 June 1998</p>
    <h3>Birthplace: </h3><p>Jakarta</p>
    <h3>Address: </h3><p>Kukel</p>
    <h3>Education: </h3><p>Ilmu Komputer, Universitas Indonesia</p>
    <h1>---------------------------------------------</h1>

</body>
</html>
